/* container */
.container{
    display: grid;    
    grid-gap: 8px 0;
    grid-template-rows: 75px 40px auto;
}

.container .itemTitulo{
    place-self: center;
}

.itemFiltro{
    grid-column: 3 / 4;
    align-self: end;
}

.itemFiltro1, .itemFiltro2, .itemFiltro3, .itemInput{
    align-self: end;
}

.container .itemNav{
    display: grid;
    grid-gap: 0 8px;
    grid-template-columns: 250px 4fr repeat(4, 1fr);
    align-items: center
}

.btn{
    background: var(--primary);
    color: var(--dark1);
    padding: 0.6rem;
    text-decoration: none;
    box-shadow: var(--shadow);
    text-align: center;
}

.main-table table{
    display: table;
    width: 100%;
    height: unset;
    text-align: center;    
}

.main-table table, th, td{
    background: var(--dark1);    
    border-collapse: collapse;
    color: var(--primary);
    border: 1px solid #f4f4d7;
}

.main-table th{
    font-size: 14px;
    height: 45px;
    padding: 0 1px 0 1px;
}

.main-table td{
    font-size: 12px;
    height: 30px;
}

.action-btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.2rem;
    padding: 0.2rem;
}

.action-btn .btn{
    cursor: pointer;
}

.main-nav a:hover, .btn:hover{
    background: var(--dark2);
    color: var(--light);
}

input[type=text], input[type=password], input[type=number], select{
    border: var(--primary);
    padding: 0 0.5rem;
    border-radius: 0.2rem;
    background: var(--dark1);
    color: var(--light);
    text-align: center;
}

select{
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.itemNav a{
    text-transform: uppercase;
    font-size: 13px;
}

.action-btn a{
    text-transform: uppercase;
    font-size: 10px;
}

/* media queries */
@media(max-width: 1075px){
    .main-table{
        overflow-x: scroll;        
    }

    .action-btn{
        grid-template-columns: 1fr;
    }

    .container{
        grid-template-rows: 75px .5fr auto;
    }

    table{
        position: unset; 
    }
    
}

@media(max-width: 875px){
    select{
        width:100%;
        max-width: 100%;
    }

    .itemFiltro{
        grid-column: unset;
    }

    .container{
        grid-template-rows: 75px .5fr auto;
    }

    .container .itemNav{
        grid-template-columns: repeat(6, 1fr);        
    }
}

@media(max-width: 775px){ 
    .container{
        grid-template-rows: 75px .5fr auto;
    }

    .container .itemNav{
        grid-template-columns: 1fr 1fr;        
        grid-template-rows: repeat(3, 1fr);
    }
}

@media(max-width: 475px){
    select{
        font-size: 12px;
        width:100%;
        max-width: 100%;
    }

    .main-table{
        overflow-x: auto;        
    }

    .itemFiltro{
        grid-column: unset;
        align-self: center;
    }

    .container .itemNav{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .action-btn{
        grid-template-columns: 1fr;
    }
}