<div class="container">
   <h1 class="itemTitulo">Novo Registo - Garrafas</h1>
   <h4>Modelos de Garrafa Existentes</h4>
   <div class="main-table">
      <table>
         <tr>
            <th>MODELO</th>
            <th>LOTE</th>
            <th>TIPO DE VINHO</th>
            <th>CAPACIDADE(/L)</th>
         </tr>
         <tr *ngFor="let tabelaGarrafa of tabelaGarrafas">
            <td>{{tabelaGarrafa.id}}</td>
            <td>{{tabelaGarrafa.lote}}{{tabelaGarrafa.cuba != null ? '-' + tabelaGarrafa.cuba : ''}}</td>
            <td>{{tabelaGarrafa.tipo}} {{tabelaGarrafa.categoria != "" ? ' - ' + tabelaGarrafa.categoria : ''}}</td>
            <td>{{tabelaGarrafa.capacidade}}</td>
         </tr>
      </table>
   </div>
   <br>
   <form class="itemForm" [formGroup]="RegistoForm">
		<div class="main-registo">
			<h4>Modelo</h4>
			<select formControlName="idGarrafa">
				<option value="" disabled>Modelo de Garrafa</option>
				<option *ngFor="let garrafa of tabelaGarrafas" [ngValue]="garrafa.id">{{garrafa.id}}</option>
			</select>
		</div>
		<div class="alerta" *ngIf="!RegistoForm.controls['idGarrafa'].valid && RegistoForm.controls['idGarrafa'].touched">
			Selecione um dos modelos
		</div>
		<br>
		<div class="main-registo">
			<h4>Comentário</h4>
			<input type="text" formControlName="comentario" placeholder="Insira aqui um comentário acerca do registo (opcional)...">
		</div>
		<div class="alerta" *ngIf="!RegistoForm.controls['comentario'].valid && RegistoForm.controls['comentario'].touched">
			Máx. 200 Caracteres
		</div>
		<br>
		<div class="main-registo">
			<h4>Operação</h4>
			<select formControlName="opcao" (change)="onChange($event.target.value)">
				<option value="" disabled>Operações Disponiveis</option>
				<option value="Inserir">Inserir C/Rótulo ou S/Rótulo</option>
				<option value="Remover">Remover C/Rótulo ou S/Rótulo</option>
				<option value="Rotular">Rotular Garrafas</option>
			</select>
		</div>
		<div class="alerta" *ngIf="!RegistoForm.controls['opcao'].valid && RegistoForm.controls['opcao'].touched">
			Selecione uma das operações
		</div>
		<br>
		<form class="itemForm" [formGroup]="InserirForm" *ngIf="inserirSelecionado" (ngSubmit)="novoRegisto(InserirForm.value)">
			<div class="main-registo">
				<h4>C/Rotulo</h4>
				<input type="number" formControlName="cRotulo" placeholder="Insira aqui a quantidade de garrafas com rótulo do modelo selecionado...">
			</div>
			<div class="alerta" *ngIf="InserirForm.controls['cRotulo'].hasError('min') && InserirForm.controls['cRotulo'].touched">
				Quantidade tem de ser positiva
			</div>
			<br> 
			<div class="main-registo">
				<h4>S/Rotulo</h4>
				<input type="number" formControlName="sRotulo" placeholder="Insira aqui a quantidade de garrafas sem rótulo do modelo selecionado...">
			</div>
			<div class="alerta" *ngIf="InserirForm.controls['sRotulo'].hasError('min') && InserirForm.controls['sRotulo'].touched">
				Quantidade tem de ser positiva
			</div>
			<br>		
			<div class="alerta" *ngIf="!InserirForm.controls['cRotulo'].hasError('min') && !InserirForm.controls['sRotulo'].hasError('min') && InserirForm.hasError('ValidGarrafa') && InserirForm.touched">
				Insira quantidade em pelo menos um dos tipo de garrafa
			</div>		
			<div class="registo-btn">
				<button type="submit" name="button" class="btn" [disabled]="getEstadoForm()">Inserir</button>
				<a class="btn" (click)="clearDados()">Limpar</a>
			</div>
		</form>
		<form class="itemForm" [formGroup]="RemoverForm" *ngIf="removerSelecionado" (ngSubmit)="novoRegisto(RemoverForm.value)">
			<div class="main-registo">
				<h4>C/Rotulo</h4>
				<input type="number" formControlName="cRotulo" placeholder="Insira aqui a quantidade de garrafas com rótulo do modelo selecionado...">
			</div>
			<div class="alerta" *ngIf="RemoverForm.controls['cRotulo'].hasError('min') && RemoverForm.controls['cRotulo'].touched">
				Quantidade tem de ser positiva
			</div>						
			<div class="alerta" *ngIf="!RemoverForm.controls['cRotulo'].hasError('min') && RemoverForm.controls['cRotulo'].hasError('ValidRemoverCRotulo')">
				Não existem, em stock, as garrafas que indicou para remover
			</div>
			<br> 
			<div class="main-registo">
				<h4>S/Rotulo</h4>
				<input type="number" formControlName="sRotulo" placeholder="Insira aqui a quantidade de garrafas sem rótulo do modelo selecionado...">
			</div>
			<div class="alerta" *ngIf="RemoverForm.controls['sRotulo'].hasError('min') && RemoverForm.controls['sRotulo'].touched">
				Quantidade tem de ser positiva
			</div>						
			<div class="alerta" *ngIf="!RemoverForm.controls['sRotulo'].hasError('min') && RemoverForm.controls['sRotulo'].hasError('ValidRemoverSRotulo')">
				Não existem, em stock, as garrafas que indicou para remover
			</div>
			<br>		
			<div class="alerta" *ngIf="!RemoverForm.controls['cRotulo'].hasError('min') && !RemoverForm.controls['sRotulo'].hasError('min') && RemoverForm.hasError('ValidGarrafa') && RemoverForm.touched">
				Insira quantidade em pelo menos um dos tipo de garrafa
			</div>	
			<div class="registo-btn">
				<button type="submit" name="button" class="btn" [disabled]="getEstadoForm()">Remover</button>
				<a class="btn" (click)="clearDados()">Limpar</a>
			</div>
		</form>
		<form class="itemForm" [formGroup]="RotularForm" *ngIf="rotularSelecionado" (ngSubmit)="novoRegisto(RotularForm.value)">
			<div class="main-registo">
				<h4>Rotular Quantidade</h4>
				<input type="number" formControlName="sRotulo" placeholder="Insira aqui a quantidade de garrafas sem rótulo que quer rotular...">
			</div>
			<div class="alerta" *ngIf="RotularForm.controls['sRotulo'].hasError('min') && RotularForm.controls['sRotulo'].touched">
				Quantidade tem de ser positiva
			</div>						
			<div class="alerta" *ngIf="!RotularForm.controls['sRotulo'].hasError('min') && RotularForm.controls['sRotulo'].hasError('ValidRemoverSRotulo')">
				Não existem, em stock, as garrafas que indicou para rotular
			</div>
			<br>
			<div class="registo-btn">
				<button type="submit" name="button" class="btn" [disabled]="getEstadoForm()">Rotular</button>
				<a class="btn" (click)="clearDados()">Limpar</a>
			</div>
		</form>
		<br> 
   </form>
</div>