<div class="container">
    <h1 class="itemTitulo">Modelos - Caixas</h1>
    <form [formGroup]="FiltroForm">
        <div class="itemNav">
            <a routerLink="/admin/caixas/inserir" class="btn">Novo Modelo</a>
            <select class="itemFiltro" formControlName="material" (change)="onChange()" style="background: #eaeaae; color: #27270c;">
                <option value="">Material</option>
                <option *ngFor="let material of materiais" [ngValue]="material">{{material}}</option>
            </select>
            <select class="itemFiltro1" formControlName="capacidade" (change)="onChange()" style="background: #eaeaae; color: #27270c;">
                <option value="">Capacidade</option>
                <option *ngFor="let capacidade of capacidades" [ngValue]="capacidade">{{capacidade}}</option>
            </select>
            <select class="itemFiltro2" formControlName="tipoVinho" (change)="onChange()" style="background: #eaeaae; color: #27270c;">
                <option value="">Tipo de Vinho</option>
                <option *ngFor="let vinho of vinhos" [ngValue]="vinho.tipo">{{vinho.tipo}}</option>
            </select>
        </div>
    </form>
    <div class="main-table" *ngIf="estadoTabela">
       <table>
          <tr>
             <th>ID</th>
             <th>TIPO DE VINHO</th>
             <th>MATERIAL</th>
             <th>GARRAFAS(QNT)</th>
             <th>CAPACIDADE(/L)</th>
             <th>QUANTIDADE</th>
             <th>AÇÕES</th>
          </tr>
          <tr *ngFor="let tabelaCaixa of tabelaCaixas">
             <td>{{tabelaCaixa.id}}</td>
             <td>{{tabelaCaixa.tipoVinho}}</td>
             <td>{{tabelaCaixa.material}}</td>
             <td>{{tabelaCaixa.garrafas}}</td>
             <td>{{tabelaCaixa.capacidade}} l</td>
             <td>{{tabelaCaixa.quantidade}}</td>
             <td>
                <div class="action-btn">
                   <a class="btn" (click)="editarCaixa(tabelaCaixa.id)">Editar</a>
                   <a class="btn" (click)="eliminarCaixa(tabelaCaixa.id)">Eliminar</a>
                </div>
             </td>
          </tr>      
       </table>
    </div>
    <br>
    <div *ngIf="!estadoTabela" style="text-align: center;">
        <h2 style="color: #8B0000;">Não foram encontrados nenhuns modelos de caixa com o filtro selecionado!</h2>
    </div>
</div>   