/* container */
.container{
    display: grid;    
    grid-gap: 8px 0;
    grid-template-rows: 75px 40px auto;
}

.container .itemTitulo{
    place-self: center;
    text-align: center;
}

.container .itemNav{
    display: grid;
    grid-gap: 0 8px;
    grid-template-columns: 250px auto;
    align-items: center
}

.itemNav .inserir{
    display: grid;
}

.itemNav .filtros{
    display: grid;
    grid-gap: 5px 5px;
    grid-template-columns: repeat(7, 1fr);
}

.itemInput{
    grid-column: 4 / 7;
    align-self: end;
}

.itemClear{
    cursor: pointer;
    align-self: end;
    background: var(--primary);
    color: var(--dark1);
    padding: 0.1rem;
    text-decoration: none;
    text-align: center;     
    border-radius: 0.2rem;
    align-self: end;
}

.btn{
    background: var(--primary);
    color: var(--dark1);
    padding: 0.6rem;
    text-decoration: none;
    box-shadow: var(--shadow);
    text-align: center;
    cursor: pointer;
}

.main-table table{
    display: table;
    width: 100%;
    height: unset;
    text-align: center;    
}

.main-table table, th, td{
    background: var(--dark1);    
    border-collapse: collapse;
    color: var(--primary);
    border: 1px solid #f4f4d7;
}

.main-table th{
    font-size: 14px;
    height: 45px;
    padding: 0 1px 0 1px;
}

.main-table td{
    font-size: 12px;
    height: 30px;
}

.encomenda-action-btn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.2rem;
    padding: 0.2rem;
}

.encomenda-action-btn .btn{
    cursor: pointer;
}

.btn:hover, .itemClear:hover{
    background: var(--dark2);
    color: var(--light);
}

input[type=text], input[type=password], input[type=number], select{
    border: var(--primary);
    padding: 0 0.5rem;
    border-radius: 0.2rem;
    background: var(--dark1);
    color: var(--light);
    text-align: center;
}

.itemNav a{
    text-transform: uppercase;
    font-size: 13px;
}

.encomenda-action-btn a{
    text-transform: uppercase;
    font-size: 10px;
}

/* media queries */
@media(max-width: 1075px){
    .encomenda-action-btn{
        grid-template-columns: 1fr;
    }

    .container{
        grid-template-rows: 75px .5fr auto;
    }

    table{
        position: unset; 
    }
    
}

@media(max-width: 975px){
    .main-table{
        overflow-x: auto;        
    }

    select{
        width:100%;
        max-width: 100%;
    }

    .itemInput{
        grid-column: 1 / 4;
    }

    .itemNav .filtros{
        display: grid;
        grid-gap: 5px 5px;
        grid-template-columns: repeat(4, 1fr);
    }   
}

@media(max-width: 675px){
    .container .itemNav{
        grid-gap: 10px;
        grid-template-columns: 1fr;        
    }
    
    .itemNav .filtros{
        display: grid;
        grid-gap: 5px 5px;
        grid-template-columns: repeat(4, 1fr);
    }  
}

@media(max-width: 475px){
    select{
        font-size: 12px;
        width: 100%;
        max-width: 100%;
    }
}

@media(max-width: 425px){
    .itemInput{
        grid-column: unset;
    }   

    .itemNav .filtros{
        display: grid;
        grid-gap: 5px 5px;
        grid-template-columns: 1fr;
    }  
}