<div class="container">
    <h1 class="itemTitulo">Editar Registo - Garrafas</h1>
    <h4>Dados do Registo</h4>
    <div class="main-table">
      <table>
         <tr>
            <th>LOTE</th>
            <th>TIPO DE VINHO</th>
            <th>CAPACIDADE(/L)</th>
            <th>DATA</th>
            <th>OPERAÇÃO</th>
            <th>C/RÓTULO</th>
            <th>S/RÓTULO</th>
         </tr>
         <tr>
            <td>{{garrafa.lote}}{{garrafa.cuba != null ? '-' + garrafa.cuba : ''}}</td>
            <td>{{garrafa.tipo}} {{garrafa.categoria != "" ? ' - ' + garrafa.categoria : ''}}</td>
            <td>{{garrafa.capacidade}}l</td>
            <td>{{registo.data.toLocaleDateString()}}</td>
            <td>{{registo.opcao}}</td>
            <td>{{registo.cRotulo}}</td>
            <td>{{registo.sRotulo}}</td>
         </tr>
      </table>
   </div>
   <br>
    <form class="itemForm" [formGroup]="RegistoForm" (ngSubmit)="editarRegisto(RegistoForm.value)">      
      <div class="main-registo">
        <h4>Comentário</h4>
        <input type="text" formControlName="comentario" placeholder="Insira aqui um comentário acerca do registo (opcional)...">
      </div>
      <div class="alerta" *ngIf="RegistoForm.controls['comentario'].hasError('ComentarioInalterado') && RegistoForm.controls['comentario'].touched">
        Comentário Inalterado
      </div>
      <div class="alerta" *ngIf="!RegistoForm.controls['comentario'].hasError('ComentarioInalterado') && RegistoForm.controls['comentario'].hasError('maxlength') && RegistoForm.controls['comentario'].touched">
        Máx. 200 Caracteres
      </div>
      <br>      
      <div class="registo-btn">
        <button type="submit" name="button" class="btn" [disabled]="!RegistoForm.valid">Editar</button>
        <a class="btn" (click)="clearDados()">Limpar</a>
      </div>
      <br>
    </form>
  </div>