<div class="container">
	<h1 class="itemTitulo">Alterar Password - Funcionário</h1>
	<form class="itemForm" [formGroup]="AlterarForm" (ngSubmit)="editarPassword(AlterarForm.value)">
		<div class="main-registo">
			<h4>Password</h4>
			<input type="password" formControlName="password" placeholder="Insira aqui a nova password..."> 
		</div>
		<div class="alerta" *ngIf="!AlterarForm.controls['password'].valid  && AlterarForm.controls['password'].touched">
			Password obrigatória (Mín. 5 caracteres)
		</div>
		<br>
		<div class="main-registo">
			<h4>Confirmação da Password</h4>
			<input type="password" formControlName="cPassword" placeholder="Insira de novo a nova password...">
		</div>
		<div class="alerta" *ngIf="!AlterarForm.controls['cPassword'].valid  && AlterarForm.controls['cPassword'].touched">
			Confirmaçãp da password obrigatória (Mín. 5 caracteres)
		</div>
		<br><br>
		<div class="registo-btn">
			<button type="submit" name="button" class="btn" [disabled]="!AlterarForm.valid">Alterar Password</button>
			<a class="btn" (click)="clearDados()">Limpar</a>
		</div>
		<br>
	</form>
</div>