<div class="container">
	<h1 class="itemTitulo">Novo Modelo - Caixa</h1>
	<form class="itemForm" [formGroup]="CaixaForm" (ngSubmit)="novaCaixa(CaixaForm.value)">
		<div class="main-registo">
			<h4>Capacidade(/L)</h4>
			<select formControlName="capacidade">
				<option value="">-- Capacidades(L) --</option>
				<option *ngFor="let capacidade of capacidades">{{capacidade}}</option>
		</select>
		</div>
		<div class="alerta" *ngIf="!CaixaForm.controls['capacidade'].valid && CaixaForm.controls['capacidade'].touched">
			Capacidade obrigatória
		</div>
		<br>
		<div class="main-registo">
			<h4>Material</h4>
			<select formControlName="material" (ngModelChange)="onChange($event)">
				<option value="">-- Materiais --</option>
				<option *ngFor="let material of materiais">{{material}}</option>
			</select>
		</div>
		<div class="alerta" *ngIf="!CaixaForm.controls['material'].valid && CaixaForm.controls['material'].touched">
			Material obrigatório
		</div>
		<br>
		<div class="main-registo">
			<h4>Garrafas(qnt)</h4>
			<select formControlName="garrafas">
				<option value="">-- Garrafas --</option>
				<option *ngFor="let garrafa of garrafas">{{garrafa}}</option>
			</select>
		</div>
		<div class="alerta" *ngIf="!CaixaForm.controls['garrafas'].valid && CaixaForm.controls['garrafas'].touched">
			Quantidade obrigatória (Selecione um material)
		</div>
		<br>
		<div class="main-registo">
			<h4>Tipo de Vinho</h4>
			<select formControlName="tipoVinho">
				<option value="">-- Vinhos --</option>
				<option *ngFor="let vinho of vinhos" [ngValue]="vinho.id">{{vinho.tipo}}</option>
			</select>
		</div>
		<div class="alerta" *ngIf="!CaixaForm.controls['tipoVinho'].valid && CaixaForm.controls['tipoVinho'].touched">
			Tipo de Vinho obrigatório
		</div>
		<br>	
		<div class="registo-btn">
			<button type="submit" name="button" class="btn" [disabled]="!CaixaForm.valid">Novo Modelo</button>
			<a class="btn" (click)="clearDados()">Limpar</a>
		</div>
		<br>
	</form>
</div>